<%= form_for(@note) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
    <%= f.fields_for :technologies do |tech_form| %>
      <p>
        <%= tech_form.label :name, "Technology" %><br />
        <%= tech_form.text_field :name %>
      </p>
    <% end %>
  <%= f.submit %>
<% end %>