<%= form_for(@note) do |f| %>
  <%= f.error_messages %>
  
  <%= f.text_field :subject, :placeholder => "Subject" %>
  
  <%= f.text_area :description, 
                  :size => "24x6", 
                  :placeholder => "Description" %>

  <%= f.text_area :resources, 
                  :size => "24x1",
                  :placeholder => "Resources" %>

  <%= f.collection_select :technology_name, Technology.find(:all), :name, :name %>  

  <div id="note_importance">
    Importance: 
    <%= f.radio_button :importance, "1" %>
    <%= f.radio_button :importance, "2" %>
    <%= f.radio_button :importance, "3" %>
    <%= f.radio_button :importance, "4" %>
    <%= f.radio_button :importance, "5" %>
  </div>

  <div id="note_understanding">
    Understanding: 
    <%= f.radio_button :understanding, "1" %>
    <%= f.radio_button :understanding, "2" %>
    <%= f.radio_button :understanding, "3" %>
    <%= f.radio_button :understanding, "4" %>
    <%= f.radio_button :understanding, "5" %>
  </div>

  <%= f.submit %>
<% end %>