<menu>
  <%= link_to "Home", root_path %>  
  <%= link_to "Technologies", technologies_path %>
  <% if current_user %>
    <%= link_to "New Note", new_note_path %>
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Log In", login_path %>
  <% end %>
</menu>

<h2>Welcome to CodeMap</h2>

<%= form_tag root_path, :method => "get" do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<%= form_tag root_path, :method => "get" do %>
  <%= collection_select :note, :technology_id, Technology.find(:all), :id, :name %>
  <%= submit_tag "Filter", :name => nil %>
<% end %>

<table class="notes_list">
  <tr>
    <th><%= sortable "subject" %></th>
    <th><%= sortable "urgency" %></th>
    <th><%= sortable "technology_id", "Technology" %></th>
  </tr>
  <%= render @notes %>
</table>


