<% set_title(@note.subject) %>
<menu>
  <%= link_to "Home", home_path %>
  <%= link_to "Edit", edit_note_path(@note) %>
  <%= link_to "[x]", @note, 
      :method => :delete,
      :confirm => "Are you sure you want to delete this note?", 
      :title => "Delete" %>
</menu>

<p class="note_subject"><%= @note.subject %></p>

<% content_for :page do %>
  <div class="note_description">
    <%= markdown(@note.description) if @note.description %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <% if @note.resources %>
    <div class="note_resources section">
      <h5>Resources:</h5>
      <%= markdown(@note.resources) if @note.resources %>
    </div>
  <% end %>

  <div class="section">
    <h5>Associated:</h5>
  </div>

  <% if @note.technology %>
    <div class="note_technology section">
      <h5>Technology: <%= link_to @note.technology.name, technology_path(@note.technology) %>
      </h5>
    </div>
  <% end %>

<% end %>

