<% title(@note.subject) %>
<h3><%= @note.subject %></h3>

<p><%= @note.description %></p>

<% if @note.technology %>
  <p>Technology: <%= @note.technology.name %></p>
<% end %>

<menu>
  <%= link_to "Edit", edit_note_path(@note) %>
  <%= link_to "Delete", @note, 
      :method => :delete,
      :confirm => "Are you sure you want to delete this note?" %>
  <%= link_to "Home", notes_path %>
</menu>