<% title(@note.subject) %>
<h3><%= @note.subject %></h3>

<p><%= @note.description %></p>

<p>
  <% for technology in @note.technologies %>
    <span class="technology">Technology: <%= technology.name %></span>
  <% end %>
</p>

<menu>
  <%= link_to "Edit", edit_note_path(@note) %>
  <%= link_to "Delete", @note, 
      :method => :delete,
      :confirm => "Are you sure you want to delete this note?" %>
  <%= link_to "CodeMap Home", notes_path %>
</menu>