<% set_title(@note.subject) %>
<menu>
  <%= link_to "Home", root_path %>
  <%= link_to "Edit", edit_note_path(@note) %>
  <%= link_to "[x]", @note, 
      :method => :delete,
      :confirm => "Are you sure you want to delete this note?", 
      :title => "Delete" %>
</menu>

<p class="note_subject"><%= @note.subject %></p>

<% content_for :page do %>
  <div class="note_description">
    <%= markdown(@note.description) if @note.description %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <% if @note.resources %>
    <div class="note_resources section">
      <h5>Resources:</h5>
      <%= markdown(@note.resources) %>
    </div>
  <% end %>

  <% if @note.importance %>
    <div class="note_importance radios section">
      <h5>Importance: 
        <% 5.downto(1) do |num| %>
          <span <%= "class=importance_value" if num == @note.importance %>><%= num %></span>
         <% end %>
      </h5>
    </div>
  <% end %>

  <% if @note.understanding %>
    <div class="note_understanding radios section">
      <h5>Understanding: 
        <% 5.downto(1) do |num| %>
          <span <%= "class=understanding_value" if num == @note.understanding %>><%= num %></span>
         <% end %>
      </h5>
    </div>
  <% end %>

  <% if @note.technology %>
    <div class="note_technology section">
      <h5>Technology: <%= link_to @note.technology.name, 
              root_path(:technology => @note.technology.id), 
              :method => :get,
              :class => "technology",
              :title => "More #{@note.technology.name} Notes" %>
      </h5>
    </div>
  <% end %>



<% end %>