<menu>
  <%= link_to "Home", notes_path %>
  <% if @note.technology %>
    <%= link_to "more in:" + @note.technology.name, technology_path(@note.technology) %>
  <% end %>
  <%= link_to "Edit", edit_note_path(@note) %>
  <%= link_to "[x]", @note, 
      :method => :delete,
      :confirm => "Are you sure you want to delete this note?", 
      :title => "Delete" %>
</menu>

<p class="note_subject"><%= @note.subject %></p>

<div class="note_description">
  <%= markdown(@note.description) if @note.description %>
</div>


