<h3 class="tech_title">
  <%= link_to "Home", notes_path %> > 
  <%= link_to "Technologies", technologies_path %> > <%= @technology.name %>
</h3>

<ul>
  <%= render @notes, :template => 'notes/_note.html.erb' %>
</ul>

<%= link_to "Delete", @technology, 
      :method => :delete,
      :confirm => "Are you sure you want to delete this technology?" %>